.git
.env
vendor
node_modules
public/build
public/hot
storage/framework/cache/data
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/logs
.phpunit.result.cache
.phpunit.cache
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
